
*.xcuserstate
Cadence.xcodeproj/project.xcworkspace/xcuserdata/wbrandin.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
Cadence.xcodeproj/xcuserdata/wbrandin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcbkptlist
Cadence/Views/BrandList/BikeBrandData.json
Cadence.xcodeproj/xcuserdata/wbrandin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
