<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddBikeFlowFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>AddBikeFlowFeatureTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>AddComponentFlowFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>AddComponentFlowFeatureTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>AddComponentFlowTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>AddComponentMaintenanceFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AddComponentTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>AddRideFlowFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AppDelegateFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>AppFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>AppSettingsViewTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>AppStoreSnapshotTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>AppSupportFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>BikeClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>BikeComponentFeatureTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>BikeComponentListFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>BikeComponentRowFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>BrandClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BrandListFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>BrandListTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>Cadence-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CadenceTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>CadenceUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>CloudKitClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>CombineHelpers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ComponentClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>ComponentDetailFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>ComponentDetailViewTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>ComponentSelectorFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ComposableHelpers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>CoreDataStack.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>CoreDataStackTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>CreateComponentFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>CreateComponentTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>CustomDump (Playground) 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>CustomDump (Playground) 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>CustomDump (Playground) 3.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>CustomDump (Playground) 4.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>CustomDump (Playground) 5.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>CustomDump (Playground) 6.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>CustomDump (Playground) 7.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>CustomDump (Playground) 8.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>CustomDump (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>DateHelpers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EditBikeFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>EmailClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>FileClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>HomeFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>MaintenanceClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>ManagedObjects.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>MileageAnimationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>MileageClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>MileagePickerFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>MileageScaleFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>Models.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OnboardingFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>OnboardingFlowTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>OnboardingViewTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>RideClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>SaveNewBikeFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>ShareSheetClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>StoreKitClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>Style.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SwiftUIHelpers.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>TypeSelectionFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>TypeSelectionTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>TypeSelectionViewTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>UIApplicationClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>UIUserInterfaceStyleClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>UserDefaultsClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>UserSettingsFeature.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>UserSettingsTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>UtilityTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>World.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AddBikeFlowFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AddBikeFlowFeatureTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AddComponentFlowFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AddComponentMaintenanceFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AddComponentTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AddRideFlowFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AppDelegateFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AppFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AppSettingsViewTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AppStoreSnapshotTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AppSupportFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BikeClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BikeComponentFeatureTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BikeComponentListFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BikeComponentRowFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BikeTypeSelectionFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BrandClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BrandListFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BrandListTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CadenceTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Cadence_BrandClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Cadence_CoreDataStack</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Cadence_UserSettingsFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CloudKitClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CombineHelpers</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ComponentClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ComponentDetailFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ComponentDetailViewTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ComponentSelectorFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ComponentTypeSelectionFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ComposableHelpers</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CoreDataStack</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CoreDataStackTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CreateComponentFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CreateComponentTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DateHelpers</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EditBikeFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EmailClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FileClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HomeFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MaintenanceClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MileageAnimationTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MileageClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MileagePickerFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MileageScaleFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Models</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OnboardingFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OnboardingFlowTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OnboardingViewTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>RideClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SaveNewBikeFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ShareSheetClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>StoreKitClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Style</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SwiftUIHelpers</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TypeSelectionFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TypeSelectionTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TypeSelectionViewTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UIApplicationClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UIUserInterfaceStyleClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UserDefaultsClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UserSettingsFeature</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UserSettingsTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>UtilityTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>World</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
